<html>
    <head>
        <title>Anuja the great blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Anuja's Blog</a></h1>
        </div>

        <div>
            <p>published: 1st march 2018, 16:34</p>
            <h2><a href="">My first post</a></h2>
            <p>motu 1</p>
        </div>

        <div>
            <p>published: 1st march 2018, 16:34</p>
            <h2><a href="">My second post</a></h2>
            <p>motu2 motu 3 motu 4</p>
        </div>
    </body>
</html>
